@media screen and  (max-width: 560px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .row {
        width: 100%;
        margin-top: 0px;
        padding: 10px;
    }

    /* BLOCCO LEZIONI */
    #lezioni, #why {
        background-color: rgb(242, 241, 201);
    }

    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
        float: none;
    }

    #lezioni .row img {
        height: 100px;
        margin-top: 15px;
    }

    /* BLOCCO STEPS */
    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        float: none;
        width: 100%;
    }

    #steps .row img {
        height: 100px;
        margin-top: 15px;
    }

    /* BLOCCO PERCHE' */
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
        margin-top: 0px;
    }

    #why .row img {
        height: 100px;
        margin-top: 15px;
    }
}